h1 {
    border-bottom: 0.5px solid #888888;
}

h3 {
    margin: 0px;
}

.accordion {
    color: #1f36b9;
    width: 500px;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;

}

.accordion:hover {
    color:black;

}

.accordion-control {
    padding: 20px;
    border-bottom: 0.5px solid #888888;
    list-style: none;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.accordion-content {
    text-align: center;
    padding: 20px;
    /* border: 1px solid #888888; */
    border-top: 1px solid transparent;
}

.plus-solid {
    width: 3%;
}

.accordion[open] .plus-solid {
    transform: rotate(45deg);
}

.copy-paste__logo {
    width: 50%
}