*{
    margin: 0 auto;
    padding: 0;
    box-sizing: content-box;
}

.header {
    padding:10px;
}

body {
    width: 100%;
    padding: 0 15px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

h1 {
    border-bottom: 2px solid #bcbbbb;
}

.accordion {
    color: #1f36b9;
    cursor: pointer;
    width: 500px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;

}

.accordion-content {
    /* display: inline-block; */
    text-align: center;
    padding: 20px;
    border-top: 1px solid transparent;
    /* overflow: hidden; */ /* Скрываем всё за контуром */

}

.accordion .accordion-content{
    display: none;
    /* opacity: 0;
    transition: 2s; */
}

.accordion:hover .accordion-content {
    display: block;
    /* opacity: 1;
    transition: 2s; */
}




/* hover появления иконок */

.common:hover .plus-solid__copy-paste{
    opacity: 1 ;

}
.common:hover .plus-solid__work-balance{
    opacity: 1 ;
}

.common:hover .plus-solid__where-js{
    opacity: 1 ;
}

.common:hover .plus-solid__relax{
    opacity: 1 ;
}

.accordion:hover {
    color: black;

}

/* смена иконок для интерактивности */

.accordion:hover .xmark-solid__copy-paste {
    display: block;
}

.accordion:hover .plus-solid__copy-paste{
    display: none;
}

.accordion:hover .xmark-solid__relax {
    display: block;
}

.accordion:hover .plus-solid__relax {
    display: none;
}

.accordion:hover .xmark-solid__work-balance {
    display: block;
}

.accordion:hover .plus-solid__work-balance {
    display: none;
}

.accordion:hover .xmark-solid__where-js {
    display: block;
}

.accordion:hover .plus-solid__where-js {
    display: none;
}



.accordion-control {
    padding: 20px;
    border-bottom: 2px solid #bcbbbb;
    list-style: none;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;

}


.common .plus-solid__copy-paste {
    opacity: 0;
    width: 3%;
    padding-left: 100px;
}

.common {
    width: 700px;
}

/* ! */
.plus-solid__work-balance {
    opacity: 0;
    width: 3%;
    padding-left: 228px;
}

.plus-solid__where-js {
    width: 3%;
    opacity: 0;
    padding-left: 225px;
}

.plus-solid__relax {
    width: 3%;
    padding-left: 202px;
    opacity: 0;
}

/* ! */

.xmark-solid__work-balance  {
    display: none;
    width: 2%;
    padding-left: 228px;
}

.xmark-solid__copy-paste {
    display: none;
    width: 2.4%;
    padding-left: 100px;

}

.xmark-solid__where-js {
    width: 2%;
    display: none;
    padding-left: 225px;
}

.xmark-solid__relax {
    width: 2%;
    padding-left: 202px;
    display: none;
}


/* ! */
.copy-paste__logo {
    width: 70%;
    display: block;
    transition: 0.5s;

}

.work-balance__logo {
    width: 120%;
    display: block;
    transition: 0.5s;
}

.where-js__logo {

    display: block;
    transition: 0.5s;
}

.relax__logo {
    width: 120%;
    display: block;
    transition: 0.5s;
}

/* Интерактивность при Нажатии */
.copy-paste__logo:active {
    opacity: 0.50
}

.work-balance__logo:active {
    opacity: 0.50
}

.where-js__logo:active {
    opacity: 0.50
}

.relax__logo:active {
    opacity: 0.50
}

/* интерактивность при выделении */

.copy-paste__logo:hover {
    transform: scale(1.1); /* Увеличиваем масштаб */


}

.work-balance__logo:hover {
    transform: scale(1.1); /* Увеличиваем масштаб */
}

.where-js__logo:hover {
    transform: scale(1.1); /* Увеличиваем масштаб */
}

.relax__logo:hover {
    transform: scale(1.1); /* Увеличиваем масштаб */
}